name: Stale Issue

on:
  schedule:
    # Runs on 23:30 JST every day, note that cron syntax applied as UTC
    - cron: "30 14 * * *"
  workflow_dispatch:

permissions:
  issues: write

jobs:
  close-issues:
    runs-on: ubuntu-24.04
    steps:
      # https://github.com/actions/stale
      - uses: actions/stale@v10
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: "This issue is stale because it has been open for 14 days with no activity."
          close-issue-message: "This issue was closed because it has been inactive for 3 days since being marked as staled."
          stale-issue-label: "staled"
          days-before-issue-stale: 14
          days-before-issue-close: 3
          # Does not apply for PRs
          days-before-pr-stale: -1
          days-before-pr-close: -1
